@font-face {
    font-family:"Ubuntu-Bold" ;
    src: url("../assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "ubuntu-medium";
    src: url("../assets/fonts/Ubuntu-Medium.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1440px;
    margin:5rem auto 0 auto;
    width: 80%;
}