@use '../utils/colors' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  list-style: none;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  background: $Magnolia;
  display: grid;
  place-content: center;
  height: 100dvh;
}
.parent {
  background: $White;
  padding: 1em;
  border-radius: 15px;
  margin-top: 3.6em;
}
.inputs {
  display: grid;
}
.form__details {
  margin-bottom: 2.55em;

  h1 {
    color: $Marineblue;
    font-family: 'ubuntu-bold';
    font-size: 2em;
    margin-bottom: 0.5em;
    line-height: 1;
  }

  p {
    line-height: 1;
    color: $Coolgray;
    font-family: 'ubuntu-regular';
    // line-height:3;
    font-size: 1.05em;
  }
}
.top {
  width: 100%;
  margin-top: 1.5625em;
  padding-inline: 5.3em;
  margin-left: 1em;
  margin-top: 2.2em;
}
