@use '../utils/colors' as *;
@use '../utils/font' as *;
@use "../mixins/responsive" as *;

.main {
  display: flex;
  flex-direction: row;
  //   gap: 6em;
  @include responsivenss(small) {
    flex-direction: column;
  }
   
}
.form{
  width: 100%;
  padding-inline: 5.3em;
  margin-left: 1em;
  margin-top: 2.2em;
    @include responsivenss(small) {
      margin: 0;
      padding: 0;
    }

  &__input{
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    &--group{
      display: flex;
      flex-direction: column;
      .input-field{
        background: $White;
        border: 1px solid $Lightgray;
        padding: 1em 0.8em;
        border-radius: 10px;
        width: 97%;
        color: $Marineblue;
        font-family: 'ubuntu-medium';
        &:hover,
        &:focus {
          border: 1px solid $Marineblue;
        }
        &:invalid {
          border: 1px solid $Strawberryred;
        }
      }
    }
  }
}
.width {
  width: 92%;
  padding-top: 6em;
}
.combined {
  display: flex;
  flex-direction: row;
  width: 97%;

  justify-content: space-between;
  label {
    color: $Marineblue;
    font-family: 'ubuntu-medium';
    font-size: 0.9em;
    text-transform: capitalize;
    padding-bottom: 0.5em;
  }
  .message {
    .info {
      font-family: 'ubuntu-medium';
      //   font-size: 0.9em;
      color: $Strawberryred;
    }
  }
}
::placeholder {
  font-family: 'ubuntu-medium';
}
input.error {
  border: 1px solid $Strawberryred;
}
