@use '../utils/colors' as *;
@use '../utils/font' as *;

.box {
  border: 1px solid $Lightgray;
  border-radius: 10px;

  padding: 1em 3em 1em 1em;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 2.9em;
    img {
      width: 50%;
    }
    .box__details {

      h3 {
        font-size: 1em;
        color: $Marineblue;
        text-transform: capitalize;
        font-family: 'ubuntu-regular';
      }
      p {
        font-size: .9em;
        font-weight: 400;
        color: $Coolgray;
        font-family: 'ubuntu-regular';
        margin-top: .5em;
      }
    }
  }
  &:hover {
    border: 1px solid $Marineblue;
  }
}
.plan {
    width: 100%;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .column {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    p{
        text-transform: capitalize;
        font-family: 'ubuntu-medium';
        font-size: .9em;
        color: $Coolgray;
    }
    input[type="checkbox"]{
        appearance: none;
        width: 40px;
        height: 20px;
        background: $Marineblue;
        border-radius: 20px;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $White;
            transition: 0.3s;
            margin-top: 3px;
        }
    }
    
  }
}
