@use '../utils/colors' as *;
@use '../utils/font' as *;
@use "../mixins/responsive" as *;

.box {
  border: 1px solid $Lightgray;
  border-radius: 10px;
  padding: 1em 2.9em 1em 1em;
  cursor: pointer;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2.8em;
    pointer-events: none;
          @include responsivenss(small) {
            gap:1em;
            flex-direction: row;
          }

    img {
      width: 60%;
      pointer-events: none;
      @include responsivenss(small) {
        width: 30%;
      }
    }
    .box__details {
      pointer-events: none;
      h3 {
        font-size: 1em;
        color: $Marineblue;
        text-transform: capitalize;
        font-family: 'ubuntu-regular';
      }
      p {
        font-size: 0.9em;
        font-weight: 400;
        color: $Coolgray;
        font-family: 'ubuntu-regular';
        margin-top: 0.5em;
      }
      small {
        font-size: 0.7em;
        color: $Marineblue;
        font-family: 'ubuntu-bold';
        margin-top: 0.5em;
      }
    }
  }
  &:hover {
    border: 1px solid $Marineblue;
  }
}
// .second{
//   margin-left: 5px;
// }
// .third {
//   margin-left: 5px;
// }
.active {
  border: 1px solid $Marineblue;
}
.plan {
  padding-inline: 6em;
  // padding-right: 4.5em;
  margin-top: 2.2em;
  @include responsivenss(small) {
    padding-inline: 0;
    margin-top: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    @include responsivenss (small){
      grid-template-columns: 1fr;
    }
  }
  .column {
    display: flex;
    flex-direction: row;
    margin-top: 1.9em;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    p {
      text-transform: capitalize;
      font-family: 'ubuntu-medium';
      font-size: 0.9em;
      color: $Coolgray;
    }
    .unchecked {
      color: $Marineblue;
    }
    input[type='checkbox'] {
      appearance: none;
      width: 40px;
      height: 20px;
      background: $Marineblue;
      border-radius: 20px;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $White;
        transition: 0.3s;
        margin-top: 2.5px;
      }

      &:checked {
        // background: $Marineblue;

        &::before {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: $White;
          transition: 0.3s;
          margin-left: 23px;
        }
      }
    }
  }
}

.column {
  background: rgba($color: $Pastelblue, $alpha: 0.1);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  justify-content: center;
}
