@use '../utils/font' as *;
@use '../utils/colors' as *;
@use "../mixins/responsive" as *;

.sidebar {
  background-image: url('./images/bg-sidebar-desktop.svg');
  border-radius: 10px;
  padding: 2em 5.8em 18em 2.15em;
    @include responsivenss(small) {
      background-image: url("images/bg-sidebar-mobile.svg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0%;
      padding: 0;
      // height: 375px;
    }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.89em;
      @include responsivenss(small) {
        flex-direction: row;
        justify-content: center;
        padding: 3em 0 8em 0;
      }
    li {
      .list {
        display: flex;
        flex-direction: row;
        gap: 1em;
        .number {
          display: grid;
          place-items: center;
          width: 33px;
          height: 33px;
          border-radius: 100%;
          border: 1px solid $White;
          color: $White;
          font-family: 'ubuntu-bold';
          font-size: 1.1em;
          &.active {
            background: $Lightblue;
            border: none;
            color: $Marineblue;
          }
        }
        .listInfo {
          display: flex;
          flex-direction: column;
            @include responsivenss(small) {
              display: none;
            }
          p {
            text-transform: uppercase;
            font-family: 'ubuntu-regular';
            font-size: 0.8em;
            color: $Coolgray;
          }
          h1 {
            text-transform: uppercase;
            font-family: 'ubuntu-bold';
            color: $Alabaster;
            letter-spacing: 0.5px;
            padding-top: 5px;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
.inputs {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 82%;
  margin-left: 2em;
  padding: 5.5em 4em 1em 4em;
  position: relative;
  @include responsivenss(small) {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: $White;
    margin-top: 4em;
    width: 100%;
    margin-left: 0;
    
  }
  button {
    font-family: 'ubuntu-medium';
    text-transform: capitalize;
    cursor: pointer;
  }
  .back {
    background: transparent;
    color: $Coolgray;
    opacity: 0;
    &.actives{
      opacity: 1;
    font-size: 1.1em;

    }
  }
  .next {
    background: $Marineblue;
    padding: 1em 1.5em;
    border-radius: 10px;
    color: $Alabaster;
    font-size: 1.1em;
  }
  .color {
    background-color: $Purplishblue;
    padding-inline: 2em;
  }
  // .leftPos {
  //   position: absolute;
  //   right: 0;
    
   
  // }
}
