@use '../utils/font' as *;
@use '../utils/colors' as *;

.sidebar {
  background-image: url('./images/bg-sidebar-desktop.svg');
  border-radius: 10px;
  padding: 2em 5.8em 18em 2.15em;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.89em;
    li {
      .list {
        display: flex;
        flex-direction: row;
        gap: 1em;
        .number {
          display: grid;
          place-items: center;
          width: 33px;
          height: 33px;
          border-radius: 100%;
          border: 1px solid $White;
          color: $White;
          font-family: 'ubuntu-bold';
          font-size: 1.1em;
          &.active {
            background: $Lightblue;
            border: none;
            color: $Marineblue;
          }
        }
        .listInfo {
          display: flex;
          flex-direction: column;
          p {
            text-transform: uppercase;
            font-family: 'ubuntu-regular';
            font-size: 0.8em;
            color: $Coolgray;
          }
          h1 {
            text-transform: uppercase;
            font-family: 'ubuntu-bold';
            color: $Alabaster;
            letter-spacing: 0.5px;
            padding-top: 5px;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
.inputs {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 82%;
  padding-inline: 4em;
  margin-left: 2em;
  padding-top: 5.5em;
  padding-bottom: 1em;
  position: relative;
  button {
    font-family: 'ubuntu-medium';
    text-transform: capitalize;
    cursor: pointer;
  }
  .back {
    background: transparent;
    color: $Coolgray;
  }
  .next {
    background: $Marineblue;
    padding: 1em 1.5em;
    border-radius: 10px;
    color: $Alabaster;
    font-size: 1em;
   
  }
   .color {
     background-color: $Purplishblue;
     padding-inline: 2em;
   }
  .leftPos {
    position: absolute;
    right: 0;
  }
}
