@use '../utils/colors' as *;
@use '../utils/font' as *;

.mainc {
  background-color: $Alabaster;
  border-radius: 10px;
  padding: 1.5em;
  .package {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0px;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $Lightgray;
    }
    &Details {
      display: flex;
      flex-direction: column;
      h1 {
        font-family: 'ubuntu-regular';
        font-size: 1em;
        color: $Marineblue;
        line-height: 1;
      }
      a {
        font-family: 'ubuntu-regular';
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        padding-bottom: 1em;
        color: $Coolgray;
      }
    }
    p {
      font-family: 'ubuntu-bold';
      color: $Marineblue;
    }
  }
  .info {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .text {
      p {
        color: $Coolgray;
        font-family: 'ubuntu-regular';
        font-size: 0.9em;
      }
      h2 {
        color: $Marineblue;
        font-family: 'ubuntu-regular';
        font-size: 0.9em;
        left: 0.5px;
        font-weight: 500;
      }
    }
  }
}
.total,
.text,
.package {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total {
  padding-inline: 1.5em;
  margin-top: 1em;
  .totaldetails {
    font-family: 'ubuntu-regular';
    font-size: 0.9em;
    color: $Coolgray;
  }
  h2 {
    color: $Purplishblue;
    font-family: 'ubuntu-bold';
    font-size: 1.3em;
  }
}
.thanks {
  .image {
    $size: 80px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $Strawberryred;
    display: grid;
    position: relative;
    place-items: center;
    overflow: hidden;

    div {
      position: absolute;
      width: 40px;
      height: 50px;
      // transform:;
      transform: rotate(130deg) translateY(-23px);
      background-color: rgba(19, 16, 16, 0.178);
      z-index: 77;
    }
    img {
      object-position: center;
      object-fit: contain;
      width: 1.3em;
      position: relative;
      z-index: 9999;
    }
    &::before {
      $size: 40px;
      position: absolute;
      content: '';
      height: $size;
      width: $size;
      background: $White;
      border-radius: 50%;
      z-index: 78;
    }
    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: rgba($color: $White, $alpha: 0.4);
    }
  }
  h1 {
    font-family: 'ubuntu-medium';
    color: $Marineblue;
    margin-top: 1.5em;
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }
  p {
    text-align: center;
    font-family: 'ubuntu-regular';
    line-height: 1.5;
    color: $Coolgray;
    padding-inline: 3em;
    font-size: 1.05em;
  }
}
