* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  list-style: none;
  outline: none;
  text-decoration: none;
  border: none;
}
body {
  background: #f0f6ff;
  display: grid;
  place-content: center;
  height: 100dvh;
  position: relative;
}
@media screen and (max-width: 50em) {
  body {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: start;
    height: 150dvh;
  }
}
.parent {
  background: #fff;
  padding: 1em;
  border-radius: 15px;
  margin-top: 3.6em;
}
@media screen and (max-width: 50em) {
  .parent {
    border-radius: 0px;
    padding: 0;
    margin-top: 0;
    background: #f0f6ff;
  }
}
.inputs {
  display: grid;
}
@media screen and (max-width: 50em) {
  .inputs {
    width: 90%;
    margin-inline: auto;
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    margin-top: -5em;
    position: relative;
    z-index: 22;
  }
}
.form__details {
  margin-bottom: 2.55em;
}
.form__details h1 {
  color: #02295a;
  font-family: 'ubuntu-bold';
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 1;
}
.form__details p {
  line-height: 1;
  color: #9699ab;
  font-family: 'ubuntu-regular';
  font-size: 1.05em;
}
.top {
  width: 100%;
  margin-top: 1.5625em;
  padding-inline: 5.3em;
  margin-left: 1em;
  margin-top: 2.2em;
}
@media screen and (max-width: 50em) {
  .top {
    padding-inline: 0;
    margin: 0;
    padding-bottom: 2em;
  }
}
.swal2-popup {
  background-color: var(hsl(213, 96%, 18%));
  padding: 2rem;
  border-radius: 30px;
}
.swal2-popup .alert {
  padding: 1em;
  border-radius: 20px;
  background: #bfe2fd;
  color: #473dff;
  cursor: pointer;
  font-family: 'ubuntu-medium';
}
.swal2-popup .btn-light-primary {
  background: #085708;
  color: #fff;
}
.swal2-popup .btn-light-danger {
  background: #b40000;
  color: #fff;
}
.swal2-popup .swal2-container {
  overflow-y: hidden !important;
}
.swal2-popup .swal2-container.swal2-shown {
  background-color: rgba(0, 0, 0, 0.2);
}
.swal2-popup .swal2-container .swal2-html-container {
  max-height: 200px;
  overflow: auto;
}
.swal2-popup body.swal2-height-auto {
  height: 100% !important;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'ubuntu-medium';
  src: url('../fonts/Ubuntu-Medium.ttf');
}
.sidebar {
  background-image: url('../images/bg-sidebar-desktop.svg');
  border-radius: 10px;
  padding: 2em 5.8em 18em 2.15em;
}
@media screen and (max-width: 50em) {
  .sidebar {
    background-image: url('../images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0%;
    padding: 0;
  }
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1.89em;
}
@media screen and (max-width: 50em) {
  .sidebar ul {
    flex-direction: row;
    justify-content: center;
    padding: 3em 0 8em 0;
  }
}
.sidebar ul li .list {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.sidebar ul li .list .number {
  display: grid;
  place-items: center;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'ubuntu-bold';
  font-size: 1.1em;
}
.sidebar ul li .list .number.active {
  background: #bfe2fd;
  border: none;
  color: #02295a;
}
.sidebar ul li .list .listInfo {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 50em) {
  .sidebar ul li .list .listInfo {
    display: none;
  }
}
.sidebar ul li .list .listInfo p {
  text-transform: uppercase;
  font-family: 'ubuntu-regular';
  font-size: 0.8em;
  color: #9699ab;
}
.sidebar ul li .list .listInfo h1 {
  text-transform: uppercase;
  font-family: 'ubuntu-bold';
  color: #fafbff;
  letter-spacing: 0.5px;
  padding-top: 5px;
  font-size: 0.9em;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 82%;
  margin-left: 2em;
  padding: 5.5em 4em 1em 4em;
  position: relative;
}
@media screen and (max-width: 50em) {
  .btns {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: #fff;
    margin-top: 4em;
    width: 100%;
    margin-left: 0;
  }
}
.btns button {
  font-family: 'ubuntu-medium';
  text-transform: capitalize;
  cursor: pointer;
}
.btns .back {
  background: rgba(0, 0, 0, 0);
  color: #9699ab;
  opacity: 0;
}
.btns .back.actives {
  opacity: 1;
  font-size: 1.1em;
}
.btns .next {
  background: #02295a;
  padding: 1em 1.5em;
  border-radius: 10px;
  color: #fafbff;
  font-size: 1.1em;
}
.btns .color {
  background-color: #473dff;
  padding-inline: 2em;
}
.main {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 50em) {
  .main {
    flex-direction: column;
  }
}
.form {
  width: 100%;
  padding-inline: 5.3em;
  margin-left: 1em;
  margin-top: 2.2em;
}
@media screen and (max-width: 50em) {
  .form {
    margin: 0;
    padding: 0;
  }
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.form__input--group {
  display: flex;
  flex-direction: column;
}
.form__input--group .input-field {
  background: #fff;
  border: 1px solid #d6d9e6;
  padding: 1em 0.8em;
  border-radius: 10px;
  width: 97%;
  color: #02295a;
  font-family: 'ubuntu-medium';
}
.form__input--group .input-field:hover,
.form__input--group .input-field:focus {
  border: 1px solid #02295a;
}
.form__input--group .input-field:invalid {
  border: 1px solid #ed3548;
}
.width {
  width: 92%;
  padding-top: 6em;
}
@media screen and (max-width: 50em) {
  .width {
    width: 100%;
    padding-top: 1em;
  }
}
.combined {
  display: flex;
  flex-direction: row;
  width: 97%;
  justify-content: space-between;
}
.combined label {
  color: #02295a;
  font-family: 'ubuntu-medium';
  font-size: 0.9em;
  text-transform: capitalize;
  padding-bottom: 0.5em;
}
.combined .message .info {
  font-family: 'ubuntu-medium';
  color: #ed3548;
}
::placeholder {
  font-family: 'ubuntu-medium';
}
input.error {
  border: 1px solid #ed3548;
}
.box {
  border: 1px solid #d6d9e6;
  border-radius: 10px;
  padding: 1em 2.9em 1em 1em;
  cursor: pointer;
}
.box__header {
  display: flex;
  flex-direction: column;
  gap: 2.8em;
  pointer-events: none;
}
@media screen and (max-width: 50em) {
  .box__header {
    gap: 1em;
    flex-direction: row;
  }
}
.box__header img {
  width: 60%;
  pointer-events: none;
}
@media screen and (max-width: 50em) {
  .box__header img {
    width: 30%;
  }
}
.box__header .box__details {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  place-content: center;
}
.box__header .box__details h3 {
  font-size: 1em;
  color: #02295a;
  text-transform: capitalize;
  font-family: 'ubuntu-regular';
}
.box__header .box__details p {
  font-size: 0.9em;
  font-weight: 400;
  color: #9699ab;
  font-family: 'ubuntu-regular';
  margin-top: 0.5em;
}
.box__header .box__details small {
  font-size: 0.7em;
  color: #02295a;
  font-family: 'ubuntu-bold';
  margin-top: 0.5em;
}
.box:hover {
  border: 1px solid #02295a;
}
.active {
  border: 1px solid #02295a;
}
.plan {
  padding-inline: 6em;
  margin-top: 2.2em;
}
@media screen and (max-width: 50em) {
  .plan {
    padding-inline: 0;
    margin-top: 0;
  }
}
.plan__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
@media screen and (max-width: 50em) {
  .plan__grid {
    grid-template-columns: 1fr;
  }
}
.plan .column {
  display: flex;
  flex-direction: row;
  margin-top: 1.9em;
  align-items: center;
  width: 100%;
  gap: 1.5em;
}
.plan .column p {
  text-transform: capitalize;
  font-family: 'ubuntu-medium';
  font-size: 0.9em;
  color: #9699ab;
}
.plan .column .unchecked {
  color: #02295a;
}
.plan .column input[type='checkbox'] {
  appearance: none;
  width: 40px;
  height: 20px;
  background: #02295a;
  border-radius: 20px;
  cursor: pointer;
}
.plan .column input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s;
  margin-top: 2.5px;
}
.plan .column input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s;
  margin-left: 23px;
}
.column {
  background: rgba(173, 190, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  justify-content: center;
}
.rect {
  border: 1px solid #d6d9e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.1em;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  gap: 4em;
}
@media screen and (max-width: 50em) {
  .rect {
    gap: 1em;
    padding: 1em;
  }
}
.rect:hover {
  border: 1px solid #02295a;
}
.rect .left {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  align-items: center;
}
@media screen and (max-width: 50em) {
  .rect .left {
    gap: 0.5em;
  }
}
.rect .left input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #d6d9e6;
  border-radius: 5px;
}
@media screen and (max-width: 50em) {
  .rect .left input[type='checkbox'] {
    width: 30px;
    height: 30px;
  }
}
.rect .left input[type='checkbox'].checks {
  background-color: #473dff;
  border: 1px solid #473dff;
  background-image: url('./images/icon-checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.rect .left .info {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.rect .left .info h1 {
  font-size: 0.9em;
  color: #02295a;
  font-family: 'ubuntu-medium';
}
.rect .left .info p {
  font-size: 1em;
  color: #9699ab;
  font-family: 'ubuntu-regular';
}
.rect .right {
  margin-left: 2.3em;
  pointer-events: none;
}
@media screen and (max-width: 50em) {
  .rect .right {
    margin: 0;
  }
}
.rect .right p {
  font-size: 1em;
  color: #473dff;
  font-family: 'ubuntu-medium';
}
.addons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: -2em;
}
.active {
  border: 1px solid #02295a;
  background-color: #f0f6ff;
}
.mainc {
  background-color: #fafbff;
  border-radius: 10px;
  padding: 1.5em;
}
.mainc .package {
  position: relative;
}
.mainc .package::after {
  position: absolute;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d6d9e6;
}
.mainc .packageDetails {
  display: flex;
  flex-direction: column;
}
.mainc .packageDetails h1 {
  font-family: 'ubuntu-regular';
  font-size: 1em;
  color: #02295a;
  line-height: 1;
}
.mainc .packageDetails a {
  font-family: 'ubuntu-regular';
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  padding-bottom: 1em;
  color: #9699ab;
}
.mainc .package p {
  font-family: 'ubuntu-bold';
  color: #02295a;
}
.mainc .info {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.mainc .info .text p {
  color: #9699ab;
  font-family: 'ubuntu-regular';
  font-size: 0.9em;
}
.mainc .info .text h2 {
  color: #02295a;
  font-family: 'ubuntu-regular';
  font-size: 0.9em;
  left: 0.5px;
  font-weight: 500;
}
.total,
.text,
.package {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total {
  padding-inline: 1.5em;
  margin-top: 1em;
}
.total .totaldetails {
  font-family: 'ubuntu-regular';
  font-size: 0.9em;
  color: #9699ab;
}
.total h2 {
  color: #473dff;
  font-family: 'ubuntu-bold';
  font-size: 1.3em;
}
.thanks .image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ed3548;
  display: grid;
  position: relative;
  place-items: center;
  overflow: hidden;
}
.thanks .image div {
  position: absolute;
  width: 40px;
  height: 50px;
  transform: rotate(130deg) translateY(-23px);
  background-color: rgba(19, 16, 16, 0.178);
  z-index: 77;
}
.thanks .image img {
  object-position: center;
  object-fit: contain;
  width: 1.3em;
  position: relative;
  z-index: 9999;
}
.thanks .image::before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  z-index: 78;
}
.thanks .image::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}
.thanks h1 {
  font-family: 'ubuntu-medium';
  color: #02295a;
  margin-top: 1.5em;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
.thanks p {
  text-align: center;
  font-family: 'ubuntu-regular';
  line-height: 1.5;
  color: #9699ab;
  padding-inline: 3em;
  font-size: 1.05em;
}
@media screen and (max-width: 50em) {
  .thanks p {
    font-size: 1.2em;
    padding-inline: 0;
  }
} /*# sourceMappingURL=main.css.map */
